:root {
  --text: #FFFFFF;
  --background: #28282B;
  --accent: #03A062;

  --body-margin: 30px; 
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1em;
}

section:not(:last-of-type) {
  border-bottom: 2px solid var(--text);
}

body {
  background-color: var(--background);

  /* Layout */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  /* Font */
  font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
  font-size: 18px;
  color: var(--text);
  
  /* Layout */
  width: 900px;
  max-width: calc(100% - 2*var(--body-margin));
  margin: 0 var(--body-margin) var(--body-margin) var(--body-margin);
}

a {
  font-weight: bold;
  color: var(--accent);
  text-decoration: none;
}

ul {
  list-style-type: square;
}

.copyright {
  filter: opacity(0.5);
}

/* @media (prefers-color-scheme: light) {
  :root {
    --text: #28282B;
    --background: #FAF9F6;
    --accent: #E26313;
  }
} */
